"use strict";

module.exports =  {
    server: {
        apikey: "%%apikey%%",
        tenant: "%%tenant%%",
        proxyBaseUrl: "%%proxyBaseUrl%%",
        proxySuffix: "%%proxySuffix%%",
        port: %%port%%,
        host: "%%host%%"
    },
    front: {
        serverUrl: "%%serverUrl%%"
    }
};
