/* line 3, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.ui.list:last-child {
  border-left: 5px solid #555555;
  border-right: 5px solid #555555;
  border-radius: 5px;
  margin-bottom: 25px;
  background: black;
  height: calc(100vh - 124px);
  overflow-y: scroll; }

/* line 12, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.ui.list:first-child {
  margin: 0; }

/* line 15, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.title.ui.raised.segment {
  margin: 1em 0 0 0;
  text-align: center;
  color: white;
  background-color: #555555; }

/* line 21, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.ui.list {
  margin-top: 0; }

/* line 25, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.ui.modal {
  width: 88%; }

/* line 28, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.ui.modal > .actions {
  padding: 0;
  background-color: black; }

/* line 32, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.ui.modal > .header {
  padding: 0;
  background-color: black; }

/* line 37, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.ui.modal > .content {
  background-color: black;
  position: relative;
  padding-bottom: 56.25% !important;
  /* 16:9 */
  padding-top: 25px !important;
  height: 0;
  overflow: hidden; }
  /* line 44, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
  .ui.modal > .content iframe, .ui.modal > .content object, .ui.modal > .content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* line 53, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.ui.modal {
  left: 0;
  margin: 0 0 0 6%; }

/* line 58, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.ui.modal > .close {
  display: none; }

/* line 61, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.fa {
  color: white;
  opacity: 0.4; }
  /* line 64, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
  .fa:hover {
    opacity: 0.45;
    cursor: pointer; }
  /* line 68, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
  .fa:active {
    opacity: 0.8; }

/* line 72, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.fa-window-maximize {
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: -21px;
  transition: bottom 0.1s linear; }
  /* line 78, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
  .fa-window-maximize:hover {
    bottom: 52px; }

/* line 82, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.fa-times {
  position: fixed;
  top: 0;
  right: 0; }

/* line 87, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/search/videolist/videolist.component.scss */
.ui.list.searchlist {
  margin-top: 0; }

/*# sourceMappingURL=videolist.component.css.map */