<sm-modal #myModalNormal>
    <modal-content>
        <iframe *ngIf="videoListState.activeVideo" #videoplayer width="560" height="315" frameborder="0" allowfullscreen allowscriptaccess="always" [src]="videoListState.activeVideo?.videoId +'?enablejsapi=1&version=3&playerapiid=ytplayer' | youtubeSafeUrl">
        </iframe>
        <i (click)="stop()" (click)="myModalNormal.hide()" class="fa fa-times fa-2x" aria-hidden="true"></i>
    </modal-content>
</sm-modal>
    <div class="ui relaxed divided list searchlist" *ngIf="videoListState.searched && !this.videoListState.notFound">
    <div class="item" *ngFor="let v of videoListState.videoList" [class.playing]="v === videoListState.activeVideo">
        <app-videolist-item [modal]="myModalNormal" [video]="v">
            <div class="ui active dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <p></p>
        </app-videolist-item>
    </div>
</div>

<div *ngIf="this.videoListState.notFound" class="notFound">
    No music videos found.
</div>
<i (click)="myModalNormal.show()" *ngIf="videoListState.isPlaying" class="fa fa-window-maximize fa-3x" aria-hidden="true"></i>