.ui.message {
    width: 100%;
}
.ui.message {
    width: 100%;
}
.ui.message:first-child {
    margin-top:5px;
}
.fa-refresh {
    display: inline;
    color:black;
    position: absolute;
    right: 10px;
    top: 10px;
}
.fa-refresh {
    display: inline;
    color:black;
    position: absolute;
    right: 10px;
    top: 10px;
}

.fa-refresh:hover{
    opacity: 0.65;
    cursor: pointer;
}
.notFound {
    text-align: center;
    color: white;
}
.ui.message {
    margin: 0;
}
.ui.relaxed.divided.list.messageUpdate {
    height: calc(100vh - 185px);
}