<sm-modal #myModalNormal>
    <modal-content>
        <iframe *ngIf="playlistState.activeVideo" #playlistplayer width="560" height="315" frameborder="0" allowfullscreen allowscriptaccess="always" [src]="playlistState.activeVideo?._id +'?enablejsapi=1&version=3&playerapiid=ytplayer' | youtubeSafeUrl">
        </iframe>
        <i (click)="stop()" (click)="myModalNormal.hide()" class="fa fa-times fa-2x" aria-hidden="true"></i>
    </modal-content>
</sm-modal>
<div class='title ui raised segment'>
Playlist
<i (click)="refreshList()" class="fa fa-refresh fa-2x" aria-hidden="true" *ngIf="playlistState.showUpdateButton"></i>
</div>
<div class="ui message" *ngIf="messageUpdate">
  <p>The playlist is no longer up to date.</p>
  <i (click)="refreshList()" class="fa fa-refresh fa-2x" aria-hidden="true"></i>
</div>
<div class="ui relaxed divided list" [ngClass]="{'messageUpdate': messageUpdate}">
    <div class="item" *ngFor="let p of playlistState.playList; let i = index" [class.playing]="p === playlistState.activeVideo">
        <app-playlist-item [modal]="myModalNormal" [playlistitem]="p" [index]="i">
        <div class="ui active dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <p></p>
        </app-playlist-item>
    </div>
</div>

<!--
<virtual-scroll class="ui relaxed divided list" style="display:block" [items]="playlistState.playList" (update)="playlistState.viewPortItems = $event" [ngClass]="{'messageUpdate': messageUpdate}">
    <div class="item" [class.playing] = "p === playlistState.activeVideo" *ngFor="let p of playlistState.viewPortItems" [class.playing]="p === playlistState.activeVideo">
    <app-playlist-item [playlistitem]="p" [modal]="myModalNormal" ></app-playlist-item>
    </div>
</virtual-scroll>
-->

<div *ngIf="notFound" class="notFound">
    No music videos found.

    