.ui.message {
    width: 100%;
}
.ui.message {
    width: 100%;
}
.ui.message:first-child {
    margin-top:5px;
}
.fa-refresh {
    display: inline;
    color:black;
    position: absolute;
    right: 10px;
    top: 10px;
}
.fa-refresh {
    display: inline;
    color:black;
    position: absolute;
    right: 10px;
    top: 10px;
}

.fa-refresh:hover{
    opacity: 0.65;
    cursor: pointer;
}
.notFound {
    text-align: center;
    color: white;
    margin-bottom: 125px;
}
.ui.message, .ui.message p {
    margin: 0;
}
.ui.relaxed.divided.list.playlist.messageUpdate {
    max-height: calc(100vh - 212px);
}
.notFoundList {
    display: none;
}
.ui.relaxed.divided.list.playlist {
    max-height: calc(100vh - 165px);
}
.ui.input input {
    border-radius: 2px 0 0 2px;
}
.ui.selection.dropdown {
    width: 80px;
    border-radius: 0 2px 2px 0;
}
.ui.selection.dropdown .menu{
    max-height: none;
}