.ui.basic.modal>.header { 
    color: black;
    font-size: 2em;
    padding: 1em;
    text-align: left;
}
.ui.active.modal {
    background-color: white;
}
#user_modal > field > input {
    color: black;
}

#user_modal > button {
    background-color: black;
    color: white;
    top: 0;
    display: block;
    padding: 10px;
    width: 100%;
    border: black 5px solid;
    border-radius: 5px;
}

#user_modal > field > input {
    display: block;
    width: 100%;
    padding: 0.8em;
    font-size: 1.3em;
    margin-bottom: 2%;
}
.ui.basic.modal>.content {
    padding: 5% !important;
    height: auto;
}

.ui.basic.modal>.actions {
    display: none;
}

.ui.form input[type=password].error {
    background-color: #fff6f6;
    color: #9f3a38;
}

.ui.form input[type=password].error:focus {
    border-color: #9f3a38;
}

.userlistcontainer {
    position: relative;
    padding-bottom: 40px;
}

.ui.relaxed.divided.list.users {
    height: calc(100vh - 200px);
    overflow-y: scroll;
    background: none;
}

.fa-plus-circle {
    position: absolute;
    right: 15px;
}