@import "../../../utilities/variables.scss";

.ui.divided.list .item{
    padding: 0.4em;
    border-top: white 1px solid;
}

.ui.button.add{
    bottom: 0;
    align-self: center;
    opacity: 1;
    color: white;
    background-color: $like;
        &:active{
        background-color: $likeactive;
    }
}
.addcontainer {
    margin: 0 0 0 0.5em;
    display: flex;
}
.info{
    width: 75%;
    display: inline;
}
.ui.tiny.image{
    width: 105px;
    margin-bottom: 0;
}
.ui.tiny.image:hover{
    filter: brightness(1) invert(0.2);
    cursor: pointer;
}
.videolistflexcontainer{
    height: 80px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
.info{
    width: 100%;
}
