@import "../../utilities/variables.scss";

.navigation {
    width: 100%;
}

.ui.menu .item.nav-item>i.icon {
    margin: auto;
}

.ui.secondary.pointing.menu{
    padding: 10px 50px 10px 50px;
    border-bottom: none;
    
    .item {
        color:$light-grey;
        border-bottom: 2px solid $white;
    }
    .item:hover{
        @extend .item;
        color:$dark-grey;
        border-bottom-color: $light-grey;
    }
}

.nav-top-toggle a {
    color: $light-grey;

    &:hover {
        color: $black;
    }
}

.avatar {

    cursor: pointer;

    img {
        height: 60px;
        width: auto;
    }

    span {
        margin-left: 0.8571428572rem;
    }
}
.row{
    margin: 0 10px;
}
.ui.grid+.grid, .ui.grid{
    margin:0;
}
.ui.grid>*{
    padding:0;
}
.right.item{
    height: 100%;
}
.ui.menu .item{
    padding:10px 15px;
}
.loginlogo {
    margin: auto;
}
@media (max-width: 500px) {
        .ui.menu .nav-item {
        width: -webkit-calc(25% - 15px);
        width:    -moz-calc(25% - 15px);
        width:         calc(25% - 15px);
    }
    .link.right, .ui.tablet.mobile.only.row.grid {
        width: 100%;
    }
    .ui.dropdown>.text {
        display: none;
    }
}