<header>
    <nav>
        <sm-menu *ngIf="canActivateLoginViaAuthGuard.isLoggedIn">
            <a>
                <div class="grid ui">
                    <img src="../../assets/logo_label.svg" height="60px"/>
                </div>
            </a>
            <a class="nav-item" sm-item icon="large youtube play" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" [routerLink]="['/playlist']">
                <div class="grid ui">
                    <div class="computer only row">Playlist</div>
                </div>
            </a>
            <a class="nav-item" sm-item icon="large user" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" [routerLink]="['/personal']">
                <div class="grid ui">
                    <div class="computer only row">Personal video's</div>
                </div>
            </a>
            <a class="nav-item" sm-item icon="large plus" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" [routerLink]="['/add']">
                <div class="grid ui">
                    <div class="computer only row">Add video</div>
                </div>
            </a>
            <div class="right menu  nav-item">
                <div class="ui computer only grid">
                    <sm-dropdown class="link right" title="Hello {{user}}!">
                        <sm-item *ngIf="this.canActivateAdminViaAuthGuard?.role === 'admin'" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" [routerLink]="['/videos']">videos</sm-item>
                        <sm-item *ngIf="this.canActivateAdminViaAuthGuard?.role === 'admin'"[routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" [routerLink]="['/users']">users</sm-item>
                        <sm-item (click)="logout()">logout</sm-item>
                    </sm-dropdown>
                </div>
                <div class="ui tablet mobile only row grid">
                    <sm-dropdown class="link right" title=" ">
                        <sm-item *ngIf="this.canActivateAdminViaAuthGuard?.role === 'admin'" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" [routerLink]="['/videos']">videos</sm-item>
                        <sm-item *ngIf="this.canActivateAdminViaAuthGuard?.role === 'admin'"[routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" [routerLink]="['/users']">users</sm-item>
                        <sm-item (click)="logout()">logout</sm-item>
                    </sm-dropdown>
                </div>
            </div>
        </sm-menu>
        <sm-menu *ngIf="!canActivateLoginViaAuthGuard.isLoggedIn">
            <a class="loginlogo">
                <div class="grid ui">
                    <img src="../../assets/logo.svg" height="60px"/>
                </div>
            </a>
        </sm-menu>
    </nav>
</header>