// Tabs navigation bar
.navigation {
    width: 100%;
    box-shadow: 0 -1px 0 $light-grey inset;

    ul {
        overflow: hidden;

        padding: 0;
        margin: auto;

    }

    li {
        float: left;
        width: calc(100% / 3);

        text-align: center;
        list-style: none;

        &.selected a {
            box-shadow: 0 -1px 0 $light-grey inset;
        }
    }

    a {
        display: block;
        padding: 0.9375rem;

        transition: box-shadow 0.25s ease-out;

        &:hover {
            text-decoration: none;
            box-shadow: 0 -1px 0 $light-grey inset;
        }
    }
}
