<div class="playlistflexcontainer">
    <img class="ui tiny left floated image playlistimage" src="{{playlistitem.thumbnailurl}}" (click)="modal.show()" (click)="onClickThumb()">
    <div class="infocontainer">
        <div class="content">
            <div class="header">
                {{playlistitem.title}}
            </div>
            <div class="info">
                <div class="description like" *ngIf="playlistitem.rating > 1">{{playlistitem.rating}} Likes</div>
                <div class="description like" *ngIf="playlistitem.rating == 1">{{playlistitem.rating}} Like</div>
                <div class="description" *ngIf="playlistitem.rating == 0">No likes yet</div>
                <div class="description dislike" *ngIf="playlistitem.rating == -1">{{playlistitem.rating | absolute}} Dislike</div>
                <div class="description dislike" *ngIf="playlistitem.rating < -1">{{playlistitem.rating | absolute}} Dislikes</div>
            </div>
        </div>
        <div class="thumbscontainer">
            <i class="fa fa-trash fa-2x delete" aria-hidden="true" (click)="deletePlaylistItem()"></i>
        </div>
</div>