@import "../../../utilities/variables.scss";
.ui.list>.item:first-child {
    border-top: 0;
}
.ui.list>.item .header {
    font-size: 1.05em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size:1em;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
    width:100%;
    padding:2px;
    max-height: 2.9em;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 700;
    line-height: 1.3em;
}

.ui.list>.item .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 0.9em;
    line-height: 1.3em;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #e7e7e7;
}

.ui.button{
    display:inline;
    position:relative;
    bottom: 21px;
    background-color: white;
    padding: 10px;
}

.info{
    width: 100%;
    display: inline;
}
.ui.tiny.image:hover{
    filter: brightness(1) invert(0.2);
    cursor: pointer;
}

.number{
    z-index: 1;
    color: white;
    float:left;
    align-self: center;
    margin: 0 5px;
}
.number.rank {
    width:2em;
}
.ui.list>.item [class*="playlistimage"]{
    margin: 0 1em 0 5px;
}
.playlistflexcontainer{
    height: 80px;
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
}
.infocontainer{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.thumbscontainer{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}
.thumbs{
    align-self: center;
    padding: 0 5px
}
.thumbscontainer>.thumbsupactive{
    opacity: 1;
    color: $like;
        &:active{
        color: $likeactive;
    }
}
.thumbscontainer>.thumbsdownactive{
    opacity: 1;
    color: $dislike;
    &:active{
        color: $dislikeactive;
    }
}
.thumbscontainer>.thumbsdisabled{
    opacity: 0.2;
    cursor: default;
}
b{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.invisible {
    visibility: hidden;
}
.deletedtext {
    color: $dislike;
    align-self: center;
    margin-right: 1em;
}
@media (max-width: 400px) {
    .playlistflexcontainer {
        height: 65px;
    }
   .ui.tiny.playlistimage {
    width: 65px;
    height: 50px;
    align-self: center;
    }
    .infocontainer > .content {
        align-self: center;
    }
    .ui.list {
    font-size: 1em;
    }
    .ui.list .itemZZ .header {
        line-height: 1.3em;
    }
    .ui.list>.item.searchinfo .description, .ui.list>.item.searchinfo .header {
        max-width: 150px;
    }
    .ui.list>.item [class*="playlistimage"]{
    margin: 0 0.5em 0 0;
}
}
@media (max-width: 350px) {
    .ui.list>.item.searchinfo .description, .ui.list>.item.searchinfo .header {
        max-width: 121px;
    }
}
@media (max-width: 325px) {

    .ui.list>.item.searchinfo .description, .ui.list>.item.searchinfo .header {
        max-width: 95px;
    }
}

