/* line 3, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.ui.list > .item .header {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 1em;
  line-height: 1.2em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  padding: 2px;
  max-height: 3em;
  color: white; }

/* line 17, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.ui.list > .item .description {
  color: #e7e7e7; }

/* line 20, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.ui.divided.list > .item {
  padding: 0 0 0 5px;
  border-top: white 1px solid; }

/* line 25, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.ui.button {
  display: inline;
  position: relative;
  bottom: 21px;
  background-color: white;
  padding: 10px; }

/* line 33, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.info {
  width: 75%;
  display: inline; }

/* line 37, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.ui.tiny.image:hover {
  filter: brightness(1) invert(0.2);
  cursor: pointer; }

/* line 42, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.number {
  z-index: 1;
  color: white;
  float: left;
  position: relative;
  top: 33px;
  left: 0;
  margin: 0 5px; }

/* line 51, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.ui.list > .item [class*="playlistimage"] {
  margin: 0 1em 0 5px; }

/* line 54, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.playlistflexcontainer {
  max-height: 80px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row; }

/* line 60, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.infocontainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%; }

/* line 66, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.thumbscontainer {
  margin-right: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: row; }

/* line 72, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.thumbs {
  align-self: center;
  padding: 0 5px; }

/* line 76, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.thumbscontainer > .thumbsupactive {
  opacity: 1;
  color: #72b654; }
  /* line 79, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
  .thumbscontainer > .thumbsupactive:active {
    color: #55a332; }

/* line 83, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.thumbscontainer > .thumbsdownactive {
  opacity: 1;
  color: #b35252; }
  /* line 86, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
  .thumbscontainer > .thumbsdownactive:active {
    color: #9d3232; }

/* line 90, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.thumbscontainer > .thumbsdisabled {
  opacity: 0.2;
  cursor: default; }

/* line 94, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
b {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; }

/* line 98, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
.invisible {
  visibility: hidden; }

@media (max-width: 400px) {
  /* line 102, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
  .ui.tiny.playlistimage {
    width: 60px; }
  /* line 105, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
  .ui.list {
    font-size: 0.8em; }
  /* line 108, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
  .playlistflexcontainer {
    max-height: 50px; }
  /* line 111, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
  .ui.list > .item .header {
    line-height: 1.3em; }
  /* line 114, C:/Users/Osedx/Documents/Project - muziek webapp/district01/src/app/components/playlist/playlist-item/playlist-item.component.scss */
  .number {
    top: 15px; } }

/*# sourceMappingURL=playlist-item.component.css.map */